<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
<header>
    <div class="banner"></div>
    <h1>Witcherz TW Teams and Counters</h1>
</header>
<button id="enable-sound" class="button" onclick="enableSound()">Listen to the song of my people</button>
<audio id="jawasound" src="https://www.myinstants.com/media/sounds/utini.mp3"></audio>
{{ content }}
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
</body>
</html>
